# Database Configuration
DATABASE_URL=host=<your_host> port=<5432> dbname=<your_db_name> user=<your_username> password=<your_password>

# API Configuration
api_url="<https://api.example.com>"
api_key="sk-<your_api_key_here>"
s_key="<your_secret_key_here>"
